.headerParent {
  width: 100vw;
  background-color: #AB2A19;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.bodyParent {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}